<!--<!DOCTYPE html>-->
<!--<html lang="ko" xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="layout/header.html :: frag-header">-->
<!--  <title>회원가입(약관동의)</title>-->
<!--</head>-->
<!--<body>-->
<!--<header th:replace="layout/navbar.html :: frag-navbar"></header>-->

<!--<div class="container">-->
<!--  <h2>약관 동의</h2>-->
<!--  <hr/>-->

<!--  &lt;!&ndash; 약관 내용 &ndash;&gt;-->
<!--  <div class="terms-content">-->
<!--    <h3>서비스 이용약관</h3>-->
<!--    &lt;!&ndash; 서비스 이용약관 동의 &ndash;&gt;-->
<!--    <label class="checkbox-label">-->
<!--      <input type="checkbox" name="agreeTerms" value="true">-->
<!--      <span>약관에 동의합니다.</span>-->
<!--    </label>-->
<!--  </div>-->

<!--  <br>-->

<!--  &lt;!&ndash; 개인정보 처리방침 &ndash;&gt;-->
<!--  <div class="terms-content">-->
<!--    <h3>개인정보 처리방침</h3>-->

<!--    &lt;!&ndash; 개인정보 처리방침 동의 &ndash;&gt;-->
<!--    <label class="checkbox-label">-->
<!--      <input type="checkbox" name="agreePrivacy" value="true">-->
<!--      <span>약관에 동의합니다.</span>-->
<!--    </label>-->
<!--  </div>-->

<!--  &lt;!&ndash; 다음 버튼 &ndash;&gt;-->
<!--  <form action="/regStep02" method="post" class="text-center mt-4">-->
<!--    <input type="hidden" name="roleType" th:value="@{roleType}">-->
<!--    <input type="submit" value="다음단계" class="btn"/>-->
<!--  </form>-->
<!--</div>-->

<!--&lt;!&ndash;<footer th:replace="layout/footer.html :: frag-footer"></footer>&ndash;&gt;-->
<!--<link rel="stylesheet" href="/css/auth/register.css"/>-->
<!--</body>-->
<!--</html>-->