<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>비밀번호 변경</title>
  <link rel="stylesheet" href="/css/myInfo.css">
</head>
<body>
<h1>비밀번호 변경</h1>
<hr/>
<!-- th:object="${memDto3}" id="changePwdForm" -->
<form method="post" th:action="@{/sample/changePassword}">
  <div class="mb-3">
    <label for="currentPassword" class="form-label">현재 비밀번호</label>
    <input type="password" class="form-control" id="currentPassword" name="currentPassword">
<!--    <div th:if="${#fields.hasErrors('currentPassword')}" class="error-message" style="color: red;">-->
<!--      <span th:errors="*{currentPassword}"></span>-->
<!--    </div>-->
  </div>
  <div class="mb-3">
    <label for="newPassword" class="form-label">새 비밀번호</label>
    <input type="password" class="form-control" id="newPassword" name="newPassword">
<!--    <div th:if="${#fields.hasErrors('newPassword')}" class="error-message" style="color: red;">-->
<!--      <span th:errors="*{newPassword}"></span>-->
<!--    </div>-->
  </div>
  <div class="mb-3">
    <label for="confirmPassword" class="form-label">새 비밀번호 확인</label>
    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
<!--    <div th:if="${#fields.hasErrors('confirmPassword')}" class="error-message" style="color: red;">-->
<!--      <span th:errors="*{confirmPassword}"></span>-->
<!--    </div>-->
  </div>
  <button type="submit" class="btn btn-primary w-100">비밀번호 변경</button>
</form>
</body>
</html>
