<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="frag-navbar">
  <nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
      <a class="navbar-brand navbar-brand-custom" href="/" th:href="@{/}">Hospital WebSite</a>
      <button class="navbar-toggler navbar-toggler-custom" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link navbar-link-custom" href="/" th:href="@{/}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-link-custom" href="/about" th:href="@{/about}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-link-custom" href="/api/search" th:href="@{/api/search}">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-link-custom" href="/contact" th:href="@{/contact}">Contact</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link navbar-link-custom" href="/login" th:href="@{/login}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-link-custom" href="/register" th:href="@{/register}">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</nav>
</html>
