<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header.html :: frag-header">
  <meta charset="UTF-8">
  <title>회원가입</title>
</head>
<link rel="stylesheet" th:href="@{/css/auth/register.css}" />
<body>
<header th:replace="layout/navbar.html :: frag-navbar"></header>

<div class="container_1">
  <!-- 일반 회원 섹션 -->
  <div class="section section-left">
    <h2>일반 회원 가입</h2>
    <form method="get" th:action="@{/regStep02}">
      <button type="submit" name="roleType" value="USER" class="btn">일반 회원 가입</button>
    </form>
  </div>

  <!-- 의료업 회원 섹션 -->
  <div class="section section-right">
    <h2>의료업 회원 가입</h2>
    <form method="get" th:action="@{/regStep02}">
      <button type="submit" name="roleType" value="CHECK" class="btn">의료업 회원 가입</button>
    </form>
  </div>
</div>

<!--<footer th:replace="layout/footer.html :: frag-footer"></footer>-->
</body>
</html>