<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header.html :: frag-header">
    <title th:text="#{member.register}">회원가입(사용자 정보)</title>
    <link rel="stylesheet" th:href="@{/css/auth/register.css}"/>
  </head>
  <body>
  <header th:replace="layout/navbar.html :: frag-navbar"></header>
  <div class="container">
    <h2 th:text="#{member.info}">Member Info</h2>
    <hr/>
    <form th:action="@{/auth/regStep03_Check}" method="post">
      <div class="form-group">
        <label for="email" th:text="#{email}">Email</label>
        <input type="text" th:field="*{email}" id="email" class="form-control"/>
<!--        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-message"></div>-->
      </div>

      <div class="form-group">
        <label for="name" th:text="#{name}">Name</label>
        <input type="text" th:field="*{name}" id="name" class="form-control"/>
<!--        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error-message"></div>-->
      </div>

      <div class="form-group">
        <label for="password" th:text="#{password}">Password</label>
        <input type="password" th:field="*{password}" id="password" class="form-control"/>
<!--        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-message"></div>-->
      </div>

      <div class="form-group">
        <label for="confirmPassword" th:text="#{password.confirm}">Confirm Password</label>
        <input type="password" th:field="*{confirmPassword}" id="confirmPassword" class="form-control"/>
<!--        <div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="error-message"></div>-->
      </div>

      <input type="submit" th:value="#{register.btn}" class="btn btn-submit"/>
    </form>
  </div>

  <link rel="stylesheet" th:href="@{/css/auth/register.css}"/>
  </body>
</html>
