/* header.css */
.navbar-custom {
    background-color: #f6f3ee;
}

.navbar-brand-custom {
    color: #2e5743;
    font-weight: bold;
}

.navbar-link-custom {
    color: #2e5743;
    font-weight: bold;
}
