<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header.html :: frag-header">
    <title>회원가입 완료</title>
    <link rel="stylesheet" href="/css/auth/register.css"/>
</head>
<body>
  <header th:replace="layout/navbar.html :: frag-navbar"></header>
  <div class="container">
    <br>
    <p>
        환영합니다. 회원가입이 완료되었습니다. <br>
        일부 서비스는 로그인 후 이용이 가능합니다.
    </p>
    <p>
      <a class="btn-back" href="/login">[로그인 하기]</a>
    </p>
  </div>
<footer th:replace="layout/footer.html :: frag-footer"></footer>
</body>
</html>
